{% extends 'base_mail.html.twig' %}

{% block body %}
    <p>Password reset confirm Link:</p>

    {% set url = url('auth.password_reset.confirm', {'token': token}) %}

    <p><a href="{{ url }}">{{ url }}</a></p>
{% endblock %}