{% extends 'base_mail.html.twig' %}

{% block body %}
    <p>Password change confirm Link:</p>

    {% set url = url('profile.password_change.confirm', {'token': token}) %}

    <p><a href="{{ url }}">{{ url }}</a></p>
{% endblock %}